<div class="card-box clo-12 col-md-6 col-lg-4">
  <div class="card content-card border-dark mb-3">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="<%= movie.url %>" allowfullscreen></iframe>
    </div>
    <div class="card-body">
      <p id="movie-<%= movie.id %>">
        <% if movie.watch_progressed_by?(current_user) %>
          <%= render "watch_progress", movie: movie %>
        <% else %>
          <%= render "unwatch_progress", movie: movie %>
        <% end %>
      </p>
      <p class="movie-title"><%= "Lv.#{movie_counter + @movies.offset_value + 1}：#{movie.title}" %></p>
    </div>
  </div>
</div>
